i#favorite {
    color: black;
    padding: 1em;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
}

i#favorite.click {
    color: gray;
}

i#favorite:after {
    content: "Add to Favorites";
    -moz-border-radius: 6px 0 6px 6px;
    -webkit-border-radius: 6px 0 6px 6px;
    background-color: rgba(0,0,0,0.4);
    border-radius: 6px 0 6px 6px;
    color: white;
    font-size: 13px;
    font-weight: normal;
    opacity: 0;
    padding: 0.8em;
    position: absolute;
    right: 2em;
    top: 2em;
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
}

i#favorite.click:after {
    content: "In Favorites"
}

i#favorite:hover:after {
    opacity: 1;
    right: 2.5em;
}